.footer {
    background-color: rgb(37, 37, 37);
    padding-top: 1rem;
    padding-bottom: 10px;
    color: white
}

.footer h4 {
    text-align: center;
}

#foot_link:link {
    text-decoration: none;
}

#foot_link:visited {
    color: white;
}

h6 {
    padding-left: 2rem;
}